@model AllEmployees
@using IdentityServer.Domain
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Manage Employees";
}
<div>
    <h3>Manage all the employees</h3>
    <hr />
    <div class="row">
        <div class="col-md-8">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Department</th>
                        <th scope="col">Team</th>
                        <th scope="col">Position</th>
                        <th scope="col">Active</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        var employeesList = Model.Employees.ToList();
                        if (employeesList.Count != 0)
                        {
                            foreach (var employee in employeesList)
                            {
                                if (employee.Active == true)
                                {
                                <tr>
                                    <td scope="row">
                                        @if (employee.Picture != null && employee.Picture.Length > 0)
                                        {
                                            <img src="../../img/@employee.Picture" class="rounded float-left" alt="@employee.Name" height="30" width="30">
                                        }
                                        else
                                        {
                                            <img src="../../img/avatarNotFound.png" class="rounded float-left" alt="@employee.Name" height="30" width="30">
                                        }
                                        @if (this.User.IsInRole(Constants.TeamLeaderRole))
                                        {
                                            <a asp-action="EmployeeInfoFromTeamLeader" asp-route-id="@employee.Id">@employee.Name</a>
                                        }
                                        else if (this.User.IsInRole(Constants.DepartmentManagerRole))
                                        {
                                            <a asp-action="EmployeeInfoFromDepartmentManager" asp-route-id="@employee.Id">@employee.Name</a>
                                        }
                                        else if (this.User.IsInRole(Constants.GeneralManagerRole))
                                        {
                                            <a asp-action="EmployeeInfoFromGeneralManager" asp-route-id="@employee.Id">@employee.Name</a>
                                        }
                                        else if (this.User.IsInRole(Constants.OfficeManagerRole))
                                        {
                                            <a asp-action="EmployeeInfoFromOfficeManager" asp-route-id="@employee.Id">@employee.Name</a>
                                        }
                                    </td>
                                    <td scope="row">
                                        @if (employee.Department != null)
                                        {
                                            @employee.Department.Name
                                        }
                                    </td>
                                    <td scope="row">
                                        @if (employee.Team != null)
                                        {
                                            @employee.Team.Name
                                        }
                                    </td>
                                    <td scope="row">@employee.Position.RoleName</td>
                                    <td scope="row">@employee.Active</td>
                                </tr>
                                }
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>