@model SingleEmployee
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = Model.Name;
}
<h1>@ViewData["Title"] - @Model.Role</h1>
<div>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <img src="../../img/@Model.Picture" class="rounded float-left" alt="@Model.Name"  height="300" width="300">
        </div>
        <div class="col-md-6">
            <h2>Department - @Model.Department.Name</h2>
            <h3>Team - @Model.Team.Name</h3>
            <h4>Active - @Model.Active</h4>
            @if (Model.CV != null)
            {
                <a href="../../docs/@Model.CV">View CV</a> 
            }
            else
            {
                <a asp-action="EmployeeAddCV" asp-route-id="@Model.Id"><h4>Upload his CV</h4></a>
            }
            <br />
            <a asp-action="EmployeeEdit" asp-route-id="@Model.Id"><h3>Edit his data</h3></a>
            <br />
            <a asp-action="ManageEmployees">Back too all Employees</a>
        </div>
    </div>
</div>