@model SingleDepartment
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = Model.Department.Name;
}

<h1>@ViewData["Title"] - @Model.Department.Description</h1>
<h2>
    @{ if (Model.DepartmentManager != null)
        {
    <label> Department manager: </label>  <a asp-action="EmployeeInfo" asp-controller="Employees" asp-route-id="@Model.DepartmentManager.Id">@Model.DepartmentManager.Name</a>
            } 
        }
        </h2>
<div>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Team</th>
                        <th scope="col">Position</th>
                    </tr>
                </thead>
                <tbody>
                    @{var employeesList = Model.Department.Employees.ToList();
                        @if (employeesList.Count != 0)
                        {
                            foreach (var employee in employeesList)
                            {
                                if (employee != Model.DepartmentManager)
                                {
                    <tr>
                        <td scope="row">
                            <a asp-action="EmployeeInfo" asp-controller="Employees" asp-route-id="@employee.Id">@employee.Name</a>
                        </td>
                        @if (employee.Team != null)
                        {
                        <td>
                            <a asp-action="TeamInfoAdvanced" asp-controller="Teams" asp-route-id="@employee.Team.Id">@employee.Team.Name</a>
                        </td>
                        }
                        else
                        {
                            <td>No Team</td>
                        }
                        <td>
                            @employee.Position.RoleName
                        </td>
                    </tr>
                                }

                            }
                        }
                    }
                </tbody>
            </table>
            <a asp-action="DepartmentEdit" asp-route-id="@Model.Department.Id">Edit this Department</a>
            <br />
            <a asp-action="ManageDepartments">Back to all Departments</a>
            <br />
            <a asp-action="AddTeamToDepartment">Add a team to this department</a>

        </div>
    </div>
</div>