@model AllDepartments
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Manage Departments";
}
<div>
    <h3>Manage all the departments</h3>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        var departmentsList = Model.Departments.ToList();
                        int count = 1;
                        if (departmentsList.Count() != 0)
                        {
                            foreach (var department in departmentsList)
                            {
                    <tr>
                        <td scope="row">
                            <a asp-action="DepartmentInfo" asp-route-id="@department.Id">@department.Name</a>
                            
                        </td>

                        <td scope="row">
                            @department.Description
                            </td>
                        <td>
                            @{
                                var simpleName = "delete" + count++;
                                var complexName = "#" + simpleName;
                            }
                            <a asp-action="DepartmentEdit" asp-route-id="@department.Id">Edit</a> |
                            <a href="@complexName" id="@complexName" class="trigger-btn" data-toggle="modal">Delete</a>
                            <div id="@simpleName" class="modal fade">
                                <div class="modal-dialog modal-confirm">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title">Are you sure?</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        </div>
                                        <div class="modal-body">
                                            <p>All teams assigned to this department will be deleted. Are you sure?</p>
                                        </div> 
                                        <div class="modal-footer">
                                            <a asp-action="DepartmentDelete" asp-route-id="@department.Id"><button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-ok"></span> Delete</button></a>
                                            <button type="button" class="btn btn-info" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                            }
                        }
                    }
                </tbody>
            </table>
            <a asp-action="DepartmentAdd">Add new Department</a>
        </div>
    </div>
</div>