@model AllTeams
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Manage Teams";
}
<div>
    <h3>Manage all the Teams</h3>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Department</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        var teamList = Model.Teams.ToList();
                        if (teamList.Count() != 0)
                        {
                            foreach (var team in teamList)
                            {
                                <tr>
                                    <td scope="row">
                                        <a asp-action="TeamInfoAdvanced" asp-route-id="@team.Id">@team.Name</a>
                                    </td>
                                    <td scope="row">
                                        @team.Description
                                    </td>
                                    <td scope="row">
                                @if (team.Department != null)
                                {
                                    <a asp-action="DepartmentInfo" asp-controller="Departments" asp-route-id="@team.Id">@team.Department.Name</a>
                                }
                                    </td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
            <a asp-action="TeamAdd">Add new Team</a>
        </div>
    </div>
</div>