@model AllTeams
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Manage Teams";
}
<div>
    <h3>Manage all the Teams</h3>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Department</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        var teamList = Model.Teams.ToList();
                        int count = 1;
                        if (teamList.Count() != 0)
                        {
                            foreach (var team in teamList)
                            {
                                <tr>
                                    <td scope="row">
                                        <a asp-action="TeamInfoAdvanced" asp-route-id="@team.Id">@team.Name</a>
                                    </td>
                                    <td scope="row">
                                        @team.Description
                                    </td>
                                    <td scope="row">
                                        @if (team.Department != null)
                                        {
                                            @team.Department.Name
                                        }
                                    </td>
                                    <td>
                                        @{
                                            var simpleName = "delete" + count++;
                                            var complexName = "#" + simpleName;
                                        }
                                        <a asp-action="TeamEdit" asp-route-id="@team.Id"><span class="glyphicon glyphicon-edit">Edit</span></a> |
                                        <a href="@complexName" id="@complexName" class="trigger-btn" data-toggle="modal"><span class="glyphicon glyphicon-ban-circle">Delete</span></a>
                                        <div id="@simpleName" class="modal fade">
                                            <div class="modal-dialog modal-confirm">
                                                <div class="modal-content">
                                                    <div class="modal-body">
                                                        <h4>Do you really want to delete this team? It cannot be undone.</h4>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <a asp-action="TeamDelete" asp-route-id="@team.Id"><button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-ok"></span> Delete</button></a>
                                                        <button type="button" class="btn btn-info" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
            <a asp-action="TeamAdd">Add new Team</a>
        </div>
    </div>
</div>