@using IdentityServer4.Extensions
@using IdentityServer.Domain
@{
    string name = null;
    if (!true.Equals(ViewData["signed-out"]))
    {
        name = Context.User?.GetDisplayName();        
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="icon" type="image/x-icon" href="~/database.ico" />
    <link rel="shortcut icon" type="image/x-icon" href="~/database.ico" />
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/bootstrap-select.css" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="~/">
                    <span class="navbar-brand">
                        <img src="~/database.png" class="icon-banner">
                        Identification Server
                    </span>
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <!--

    De modificat !!!
    - asp-route-id="1" sa aiba Employee.Id

    <li><a asp-area="" asp-controller="Employees" asp-action="EmployeeInfo" asp-route-id="1">My information</a></li>
    -->


                    @if (this.User.IsInRole(Constants.QARole) || this.User.IsInRole(Constants.DeveloperRole))
                    {
                        <li><a asp-area="" asp-controller="Employees" asp-action="GetEmployeeInfo" asp-route-username="@this.User.Identity.Name">Manage Account</a></li>
                    }
                    @if (Context.User.IsInRole(Constants.TeamLeaderRole))
                    {
                        <li><a asp-area="" asp-controller="Employees" asp-action="ManageEmployees" asp-route-username="@this.User.Identity.Name">Manage Employees</a></li>
                        <li><a asp-area="" asp-controller="Teams" asp-action="GetTeamInfo" asp-route-username="@this.User.Identity.Name">Manage Team</a></li>
                    }
                    @if (Context.User.IsInRole(Constants.DeveloperRole))
                    {
                        <li><a asp-area="" asp-controller="Employees" asp-action="GetManageEmployees" asp-route-username="@this.User.Identity.Name">Manage Employees</a></li>
                        <li><a asp-area="" asp-controller="Departments" asp-action="GetDepartmentInfo" asp-route-username="@this.User.Identity.Name">Manage Department</a></li>
                        <li><a asp-area="" asp-controller="Teams" asp-action="ManageTeams">Manage Teams</a></li>
                    }
                    @if (Context.User.IsInRole(Constants.GeneralManagerRole))
                    {
                        <li><a asp-area="" asp-controller="Employees" asp-action="ManageEmployees">Manage Employees</a></li>
                        <li><a asp-area="" asp-controller="Departments" asp-action="ManageDepartments">Manage Departments</a></li>
                        <li><a asp-area="" asp-controller="Teams" asp-action="ManageTeams">Manage Teams</a></li>
                    }
                    @if (Context.User.IsInRole(Constants.OfficeManagerRole))
                    {
                        <li><a asp-area="" asp-controller="Employees" asp-action="ManageEmployees">Manage Employees</a></li>
                    }
                </ul>
                @if (!string.IsNullOrWhiteSpace(name))
                {
                    <ul class="nav navbar-nav pull-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">@name <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a asp-action="Logout" asp-controller="Account">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                }
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
    </div>

    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    <script src="~/js/bootstrap-select.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
